<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"  lang="es-MX"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"  lang="es-MX"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"  lang="es-MX"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-MX"> <!--<![endif]-->
    <head>
        <title>Concepto Dekora</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Concepto Dekora">
        <meta name="keywords" content="concepto,dekora" />
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico" />

        <link rel="stylesheet" media="screen" href="css/normalize.min.css">
        <link rel="stylesheet" media="screen" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.1.min.js" type="text/javascript" charset="utf-8"></script> 
    </head>
    <body>
        <div id="wrapper">
        	<div id="dekora_values" class="up">
	        	<div id="description">
	        		<section id="about_us">
	        			<h2>¿Quienes Somos</h2>
	        			<p>Somos una empresa dedicada a ofrecerte soluciones decorativas a tus espacios vitales.</p>
	        			<p>Logramos que nuestros clientes disfruten cada espacio que decoramos.</p>
	        		</section>
	        		<section id="mission">
		        		<h2>Misión</h2>
		        		<p>Transmitir a nuestros clientes la idea de que decorar es sencillo, accesible y divertido, creando la más satisfactoria experiencia, &reg; de compra con nuestros productos.</p>
	        		</section>
	        		<section id="vision">
		        		<h2>Visión</h2>
		        		<p>Ser una empresa dedicada a las soluciones integrales en decoración y reconocida en el mercado nacional.</p>
	        		</section>
	        		<section id="values">
	        			<h2>Valores</h2>
	        			<p><strong>Honestidad</strong><br />Sugerir siempre soluciones que vayas de acuerdo a las necesidades.</p>
	        			<p><strong>Formalidad</strong><br />Cumplir con nuestros tiempos y promesas de entrega.</p>
	        			<button type="button" value="Intranet" title="Intranet"></button>
	        		</section>
	        	</div><!-- Dekora values -->
	        	<button type="button" id="toggle_curtain" value="toggle" class="up"></button><!-- toggle button -->
	        	<form action="#" method="post" enctype="application/x-www-form-urlencoded" name="search" id="search">
	        		<fieldset>
	        			<input type="search" placeholder="Buscar" autocomplete="on" name="search_input" id="search_input" />
	        			<button type="submit" name="search_button" id="search_button" ></button>
	        		</fieldset>
	        	</form><!-- search form -->
        	</div>
	        <!--[if lt IE 7]>
	            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
	        <![endif]-->
        	<nav class="up">
        		<ul>
        			<li id="products">
        				<a href="products.html" title="Productos">Productos</a>
        			</li>
        			<li id="tips">
        				<a href="tips.html" title="Tips">Tips</a>
        			</li>
        			<li id="index" class="up">
        				<a href="index.html" title="Concepto Dekora Home">
        					<img src="img/logo_dekora.png" alt="logo_dekora" width="239" height="84">
        				</a>
        			</li>
        			<li id="maintenance">
        				<a href="maintenance.html" title="Mantenimiento">Mantenimiento</a>
        			</li>
        			<li id="contact">
        				<a href="contact.html" title="Contacto">Contacto</a>
        			</li>
        		</ul>
        	</nav><!-- navigation -->
	        <!-- Add your site or application content here -->
	        <div id="backgrounds" class="slider-wrapper">
	            <div id="slider" class="nivoSlider">
	                <img alt="Sala de estar" src="img/imagen_1.jpg" width="1200" height="700" />
	                <img alt="Sala Decorativa" src="img/imagen_2.jpg" width="1200" height="700" />
	            </div>
	        </div><!-- backgrounds -->
	        <div id="partners">
		        <a class="prev browse left"></a>
		        <div class="scrollable_partners" id="scrollable_partners">
		        	<h1>Sponsors</h1>
			        <div class="items_partners">
				        <div>
					        <img alt="Sponsor" src="img/partner_1.png" width="191" height="70" />
					        <p>Empresa líder en el mercado mexicano en persianas y todos.</p>
					    </div>
					    <div>
						    <img alt="Sponsor" src="img/partner_1.png" width="191" height="70" />
					        <p>Empresa líder en el mercado mexicano en persianas y todos.</p>
				      	</div>
					</div>
				</div>
				<a class="next browse right"></a>
			</div><!-- partners -->
			<footer>
				<p>Todos los derechos reservados en la página: conceptodekora.com</p>
				<a href="" title="Botón a página de Facebook" id="facebook_profile" class="sm_profile"></a>
				<a href="" title="Botón a página de Twitter" id="twitter_profile" class="sm_profile"></a>
			</footer><!-- footer -->
	        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
	        <script src="js/plugins.js"></script>
	        <script src="js/main.js"></script>
	        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
	        <script>
	            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	            s.parentNode.insertBefore(g,s)}(document,'script'));
	        </script>
        </div>
    </body>
</html>
